html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    width: 100%;
    min-height: 100%;
    max-height: 1920px;
    background-image: url(header.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    min-height: calc(100% - 730px);
    background: mediumvioletred;
    display: flex;
    flex-direction: column;
}

.sectionOnMain1 {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.sectionOnMain1Left {
    min-height: 500px;
    background: #fff;
    min-width: 65%;
}

.sectionOnMain1Right {
    min-height: 500px;
    background: #FFEB3B;
    min-width: 35%;
}

.sectionOnMain2 {
    display: flex;
    width: 100%;
    min-height: 500px;
    background: lavender;
    justify-content: space-around;
}

footer {
    background: #232123;
    min-height: 220px;
    display: flex;
    flex-wrap: wrap;
}

.headerTryNowBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    /* background: #7b7a7a; */
    word-wrap: break-word;
    text-align: center;

}

.headerWords {
    color: #9E9E9E;
    font-size: 60px;
}

.headerTryNowButton {
    width: 155px;
    height: 35px;
    margin: 10px 0 10px 0;
    border: none;
    border-radius: 4px;
    background: #ff6d6d;
    cursor: pointer;
}

.subWordsInHeader {
    color: darkgray;
}